    <!-- ******ACTIONS****** --> 
    <section id="actions" class="features section">
        <div class="container text-center">
            <h2 class="title">On organise quoi à l'UNG ?</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i>UTT Arena : LAN semi-professionnelle annuelle destinée aux étudiants de l'UTT mais également ouverte aux extérieurs</li>
                <li><i class="fa fa-check"></i>NetGames : mini-LANs de 30 à 40 étudiants, tenus régulièrement au sein de l'UTT. Il s'agit dorénavant d'une association à part entière.</li>
                <li><i class="fa fa-check"></i>Tenues de bars à des événements et soirées uttétiens : le Gala, la remise des diplômes (R2D)...</li>
                <li><i class="fa fa-check"></i>Maintenance d'une borne d'arcades, créée par un ancien étudiant de l'association.</li>
                <li><i class="fa fa-check"></i>... et peut-être aimerais-tu proposer une idée ? N'hésite pas à en discuter !</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
