    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">Tu veux venir t'enjailler à l'UNG ? Tu es le/la bienvenu(e).</p>
                <div class="author-message">                      
                    <div class="profile">               
                      <img class="img-responsive" src="{{ site.baseurl }}assets/themes/devaid/images/doge.png" alt="DOGE" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">BARF BARF</h3>
                        <p>BARF BARF BARF</p>
                        <p>BARF BARF BARF BARF BARF</p>
                        <p><strong>BARF BARF BARF BARF</strong>
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Wow social networks</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/UTTNetGroup" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/uttnetgroup" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        {% comment %}
                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                        {% endcomment %}
                        <li class="last"><a href="mailto: ung@utt.fr"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
