<section id="posts" class="docs section">
	<div class="container">
	  <div class="docs-inner">
		  <div class="block">
		    <h3 class="sub-title text-center"></h3>
		    <p>
	        <div class="block post">
	          <h3 class="sub-title text-center"><a href="{{ site.production_url }}{{ page.url }}">{{ page.title }}</a></h3>
	          <div class="text-date text-center">
				  {{ page.date | date: '%d' }} {% assign m = page.date | date: "%-m" %}
				  {% case m %}
				    {% when '1' %}janvier
				    {% when '2' %}février
				    {% when '3' %}mars
				    {% when '4' %}avril
				    {% when '5' %}mai
				    {% when '6' %}juin
				    {% when '7' %}juillet
				    {% when '8' %}août
				    {% when '9' %}septembre
				    {% when '10' %}octobre
				    {% when '11' %}novembre
				    {% when '12' %}décembre
				  {% endcase %} {{ page.date | date: '%Y' }}
	          </div>
	          <p>
	            {{ content }}
	        </div><!--//block-->
		  </div><!--//block-->
	  </div>
	</div>
</section>
