<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include themes/devaid/head.html %}
<body data-spy="scroll">
	{% comment %}
	{% include themes/devaid/facebook.html %}
	{% endcomment %}
	{% include themes/devaid/header.html %}
	{% include themes/devaid/promo.html %}
	{% include themes/devaid/about.html %}
	{% include themes/devaid/actions.html %}
	{% include themes/devaid/blog.html %}
	{% comment %}
	{% include themes/devaid/license.html %}
	{% endcomment %}
	{% include themes/devaid/contact.html %}
	{% include themes/devaid/footer.html %}
</body>
</html> 

